.about {
  /* Remove absolute positioning */
  width: 100vw;
  height: 100vh;
  margin-top: 690px; /* Adjust the top margin instead of top position */
  margin-left: 700px; /* Adjust the left margin instead of left position */
  padding-top: 10px;
}
#image-2 {
  border-radius: 10%; /* Make the image circular */
  width: 300px; /* Set the width of the image */
  height: 300px; /* Set the height of the image */
  object-fit: cover; /* Ensure the image covers the entire container */
  position: absolute;
  left: 300px;
  top: 1050px;
}

#react-heading {
  position: absolute;
  top: 1200px;
  color: black;
}
#react-icon {
  top: 1214px;
}
#react-icon,
#javascript-icon,
#mysql-icon {
  position: absolute;
  left: 800px;
}
#javascript-heading {
  position: absolute;
  top: 1250px;
}
#javascript-icon {
  top: 1260px;
}
#mysql-icon {
  top: 1300px;
}
#mysql-heading {
  position: absolute;
  top: 1300px;
}
#about-content {
  position: absolute;
  left: 700px;
  top: 1050px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  justify-self: center;
}
.aboutme-heading {
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
  margin-top: -10px;
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  position: absolute;
  left: 730px;
}
#about-1 {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
}
