/* Home.css */
.home-section {
  overflow-x: hidden;
}
#image-1 {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  left: 50px;
  top: 80%;
  transform: translateY(-50%);
}

.home-text {
  font-family: "Poppins", sans-serif;
  position: absolute;
  text-align: left;
  left: 400px;
  top: 50%;
  transform: translateY(-50%);
}

.home-text-1,
.home-text-2,
.home-text-3 {
  white-space: nowrap;
  font-size: 18px;
  color: dimgrey;
}

.home-text-2 {
  font-size: 24px;
  font-weight: bold;
}

.home-text-3 {
  font-size: 20px;
}

.buttons {
  position: absolute;
  left: 400px;
  bottom: 20px;
  display: flex;
  gap: 20px;
}

.cv,
.contact {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  background-color: #3498db;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cv:hover,
.contact:hover {
  background-color: #2980b9;
}

.icon-link {
  color: black;
  transition: color 0.3s;
  text-decoration: none;
}

.icon-link:hover {
  color: red;
}

#arrow-home {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s;
}

#arrow-home:hover {
  transform: translateY(10px);
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
  #image-1 {
    width: 200px; /* Adjust the width for smaller screens */
    height: 200px; /* Adjust the height for smaller screens */
    left: 10%; /* Center the image horizontally */
    top: 30%;

    transform: translateX(-50%) translateY(-50%);
  }

  .home-text {
    text-align: center; /* Center the text for smaller screens */
    left: 50%; /* Center the text horizontally */
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
    max-width: 100%; /* Ensure maximum width is 100% of the viewport */
  }

  .buttons {
    left: 55%; /* Center the buttons horizontally */
    transform: translateX(-50%);
    bottom: 10px; /* Adjust the bottom position for smaller screens */
    top: 70%;
  }
  .icon-link {
    top: 80%;
    left: 50%;
  }
}
