/* Your CSS file, e.g., ToggleButton.css */

body {
  transition: background-color 0.3s, color 0.3s; /* Add a transition for smooth color change */
}

body.dark-mode-body {
  background-color: #000;
  transition: background-color 0.3s, color 0.3s; /* Add a transition for smooth color change */
}

body.dark-mode-body .navbar {
  color: #fff !important; /* Change the color to white */
}

body.dark-mode-body .navbar-field {
  color: #fff !important; /* Change the color to white */
}

body.dark-mode-body .home-text-1 {
  color: antiquewhite;
}

body.dark-mode-body .home-text-2 {
  color: #fff;
}
body.dark-mode-body .home-text-3 {
  color: antiquewhite;
}
body.dark-mode-body .navbar-field:hover {
  color: aqua !important; /* Change the hover color to cadetblue */
  text-decoration: underline;
}

body.dark-mode-body #about-1,
body.dark-mode-body #about-2,
body.dark-mode-body #about-content,
body.dark-mode-body #react-heading,
body.dark-mode-body #react-icon,
body.dark-mode-body #javascript-icon,
body.dark-mode-body #javascript-heading,
body.dark-mode-body #mysql-icon,
body.dark-mode-body #mysql-heading,
body.dark-mode-body #node-heading,
body.dark-mode-body #node-icon,
body.dark-mode-body #git-icon,
body.dark-mode-body #github-icon,
body.dark-mode-body #git-heading,
body.dark-mode-body #github-heading,
body.dark-mode-body #university,
body.dark-mode-body #almamater {
  color: antiquewhite;
}
body.dark-mode-body #react-icon:hover {
  color: aqua;
}
body.dark-mode-body #javascript-icon:hover {
  color: yellow;
}
body.dark-mode-body #mysql-icon:hover {
  color: darkcyan;
}
body.dark-mode-body #node-icon:hover {
  color: greenyellow;
}
body.dark-mode-body #git-icon:hover {
  color: orangered;
}
body.dark-mode-body #github-icon:hover {
  color: darkorchid;
}
.toggle-button {
  background-color: #fff;
  color: #333;
  border: 2px solid #333; /* Add a 2px solid border with color #333 */
  outline: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 100px;
  top: 40px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add a transition for smooth changes */
}

.toggle-button.dark-mode {
  background-color: #000;
  color: #fff;
  border-color: #fff; /* Change the border color to white in dark mode */
}
